.DetailProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 5%;
  align-items: center;
}

.Product-image-area {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.Product-userinfo-area {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 43%;
  min-width: 500px;
  padding: 2rem 0;
}

.Product-userinfo-name-location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
}

.Product-userinfo-name-rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Product-userinfo-name {
  font-weight: 600;
}

.Product-userinfo-location {
  font-size: 12px;
  color: #808080;
  text-align: left;
}

.Product-detail-image {
  width: 43%;
  height: auto;
}
.Product-userinfo-rating {
  font-weight: 600;
}

.Product-detailinfo-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 43%;
  min-width: 500px;
}

.Product-detail-title-area {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1.8rem;
}

.Product-detail-createdAt-area {
  font-size: 12px;
  color: #808080;
  margin-bottom: 1rem;
  margin-left: 1.8rem;
}

.Product-detail-price-area {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-left: 1.8rem;
}

.Product-detail-description-area {
  margin-bottom: 2rem;
  line-height: 1.5;
  white-space: pre-line;
  margin-left: 1.8rem;
}

.hrline {
  border: 1px solid #d0cfcf;
  width: 43%;
  min-width: 450px;
  margin-bottom: 1rem;
  box-shadow: 5px 5px 6px #cecece, -5px -5px 6px #ffffff;
}

.Product-userinfo-rating-chat-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Product-userinfo-startchat-area {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.Product-userinfo-rate {
  color: #ed5237;
  font-size: 13px;
}

.Product-userinfo-startchat {
  border: none;
  box-shadow: 5px 5px 6px #cecece, -5px -5px 6px #ffffff;
  outline: none;
  color: #ed5237;
  padding: 0.7rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

.Product-userinfo-startchat:active {
  box-shadow: inset 5px 5px 6px #cecece, inset -5px -5px 6px #ffffff;
  color: #ed5237;
  border: none;
  outline: none;
  cursor: pointer;
}
